
rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    // Allow admin users to read and write to the users collection
    match /users/{userId} {
      allow read: if request.auth != null;
      allow write: if request.auth != null && request.auth.uid == userId;
    }
    
    // Allow authenticated admins to read/write patrons
    // Allow anyone to read the patrons list for the homepage
    match /patrons/{patronId} {
      allow read: if true;
      allow create, update, delete: if request.auth != null && get(/databases/$(database)/documents/users/$(request.auth.uid)).data.role == 'Admin';
    }
  }
}
