
rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    // Allow anyone to create (submit) a donation.
    // Allow any authenticated user (the admin) to read and delete.
    match /donations/{donationId} {
      allow create: if true;
      allow read, delete: if request.auth != null;
    }

    // Allow anyone to subscribe to the newsletter
    // Allow only authenticated users (admins) to read the list
    match /subscribers/{subscriberId} {
      allow create: if true;
      allow read: if request.auth != null;
    }

    // Default deny all other actions on all other collections.
    match /{document=**} {
      allow read, write: if false;
    }
  }
}
