rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    // Public collections can be read by anyone
    match /initiatives/{initiativeId} {
      allow read: if true;
      allow write: if request.auth != null && get(/databases/$(database)/documents/users/$(request.auth.uid)).data.role == 'Admin';
    }

    match /patrons/{patronId} {
      allow read: if true;
      allow create, update, delete: if request.auth != null && get(/databases/$(database)/documents/users/$(request.auth.uid)).data.role == 'Admin';
    }

    // Allow authenticated users to read roles from the users collection
    match /users/{userId} {
      allow read: if request.auth != null;
      // Only the user themselves or an admin can write to their own document
      allow write: if (request.auth != null && request.auth.uid == userId) || (request.auth != null && get(/databases/$(database)/documents/users/$(request.auth.uid)).data.role == 'Admin');
    }

    // Default deny all other writes
    match /{document=**} {
      allow write: if false;
    }
  }
}
